#fullwidth-body .mj-slides .slide.slides section p {
    font-size:2.5rem;
}
 @media screen and (min-width: 1080px) {
     #mj-annotation {
         position: fixed!important;
         bottom: 0!important;
         border-top: 1px solid #403d37;
         box-shadow: 0 -5px 10px 0 rgba(64,61,55,.1);
         background-color: #fff;
         z-index: 99999;
         max-height: 60vh;
         top: auto!important;
         max-width: 100%!important;
         width: 100%;
         left: 0;
         padding: 2rem 20%;
    }
}
 .mj-annotation-close {
     top:.3rem!important;
    ;
    bottom:auto!important;
}
 .mj-read-more-col-1 h3, .mj-read-more-col-1 p {
     padding-right: 1rem;
}
 #keisha + .mj-read-more-wrapper .mj-read-more-hed {
     border-top: none;
     padding-top: 0;
}
 .mj-read-more-expanding .intro {
     display:none;
}
